<table class="table-expand">
  <thead>
    <tr class="table-expand-row">
      <th width="200">Contacts</th>
      <th>Contact Name</th>
      <th class="text-right" width="150">Contact Title</th>
      <th width="150">Contact's Company</th>
    </tr>
  </thead>


  <tr>
    <td><%=link_to "Add an Contact", new_contact_path %></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

  <tbody>
  <%@Contacts.each do |contact|%>
    <tr class="table-expand-row" data-open-details>
  </tr>
    <tr class="table-expand-row" data-open-details>
      <td></td>
      <td><%=link_to contact.first_name, contact%> <%=link_to contact.last_name, contact%></td>
      <td class="text-right"><%=contact.title%></td>
      <td><%= contact.company.name%> <span class="expand-icon"></span></td>
    </tr>
    <%end%>
