<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<h3>Warning. You must assign an company. Otherwise the record will not save.</h3>

<%= form_for(@contact) do |f| %>

  <h4>Create a Contact</h4>
    <p>Warning. You must assign an company to this contact. Otherwise the record will not save.</p>
    <div class="form-icons">
      <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
        <% f.label :company %>
        <%= f.text_field :company, placeholder: "Company" %>
    </div>

    <div class="form-icons">
      <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <% f.label :first_namee %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <% f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :title %>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :phone %>
      <%= f.text_field :phone, placeholder: "Phone" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :email_address%>
      <%= f.text_field :email_address, placeholder: "Email Address" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :notes %>
      <%= f.text_field :notes, placeholder: "Notes" %>
    </div>
  <div class="actions">
    <%= f.submit "Create Contact"%>
  </div>
  </div>
  <% end %>

