<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<%= form_for([@company, @deal]) do |f| %>

  <h4>Create a Deal for <%=@company.name%></h4>

    <div class="form-icons">
      <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <% f.label :deal_name %>
      <%= f.text_field :deal_name, placeholder: "Deal Name" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <% f.label :value %>
      <%= f.text_field :value, placeholder: "Value" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :discount_percentage %>
      <%= f.text_field :discount_percentage, placeholder: "Discount Percentage" %>
    </div>



    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :stage %>
      <%= f.select :stage, options_for_select(["Lead", "Qualified Lead", "Meeting", "Presentation", "Negotiation", "Closed Won", "Closed Lost", "Disqualified" ]) %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :description %>
      <%= f.text_field :description, placeholder: "Description" %>

    </div>
  <div class="actions">
    <%= f.submit "Create Deal"%>
  </div>
  </div>
  <% end %>

