<h3>Warning. You must assign an company. Otherwise the record will not save.</h3>

<%= form_for(@deal) do |f| %>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>

<div class="field">
    <%= f.label :deal_name %><br />
    <%= f.text_field :deal_name %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :discount_percentage %><br />
    <%= f.text_field :discount_percentage %>
  </div>

    <div class="field">
    <%= f.label :stage %><br />
    <%= f.text_field :stage %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Add Deal"%>
  </div>

<% end %>


