<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">



<%= form_for(@account) do |f| %>
  <h4>Create An Account</h4>

  <p>Accounts are master records. A business unit should have one account for all its associated companies, contacts, and deals.</p>
  <p>Does your business unit have 500 branch offices and 25,000 employees? That's fine. It should still only receive one account.</p>
  
    <div class="form-icons">
      <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <% f.label :name %>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <% f.label :address %>
      <%= f.text_field :address, placeholder: "Street Address" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :city %>
      <%= f.text_field :city, placeholder: "City" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :state %>
      <%= f.text_field :state, placeholder: "State" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :zip %>
      <%= f.text_field :zip, placeholder: "ZIP Code" %>
    </div>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <% f.label :description %>
      <%= f.text_field :description, placeholder: "Description" %>
    </div>
    <p>Again, We can't stress enough the importance of checking to see if the account you are creating already exists.</p>
    <p>There is no de-duper implemented yet, and even the best fail all the time.</p>
  <div class="actions">
    <%= f.submit "I understand. I need this account and it will NOT be a duplicate"%>
  </div>
  </div>
  <% end %>





