<div class="title">
<h3><%=@account.name%></h3>
</div>

<div class="info-sidebox">
<ul>
<li><%=@account.address%></li>
<li><%=@account.state%></li>
<li><%=@account.zip%></li>
<li></li>
</ul>
</div>
<div class="description-sidebox">
<%=@account.description%>
</div>

<div class=sub-navigation>
  <ul class="inline-bar-styling">
    <li><%=link_to "Add a Company", new_account_company_path(@account)%></li>
  </ul>
</div>

<div class="photo">
<p>A Photo will go here ass soon as I figure out how</p>
</div>

<div class="app">
<p>This will be where the activity feed works</p>
<p>as soon as I figure out how to build one</p>
</div>